<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl" style="padding: 20px">
    <h1>Best way</h1>
    <hr />
    <table class="ui selectable table">
      <thead class="ui selectable inverted table">
        <tr>
          <th>
            <div class="ui right labeled left icon input">
              <i class="tags icon"></i>
              <input
                ng-model="_newName"
                type="text"
                placeholder="Enter location"
              />
              <a ng-click="addLocation()" class="ui tag label">
                Add Location
              </a>
            </div>
          </th>
          <th></th>
          <th class="right aligned">
            <button
              ng-if="locations.length == 2"
              class="circular ui icon button"
              ng-click="basicFetch()"
              data-content="Add users to your feed"
            >
              <i class="icon search"></i>
            </button>
            <button
              ng-click="arrayFetch()"
              ng-if="locations.length > 1"
              class="circular ui icon button"
              data-title="Add users to your feed"
            >
              <i class="icon audible"></i>
            </button>
          </th>
        </tr>
        <tr>
          <th>#</th>
          <th>Location</th>
          <th class="right aligned">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="loc in locations track by $index">
          <td><i class="map marker icon"></i>{{ $index + 1 }}</td>
          <td>{{ loc }}</td>
          <td class="right aligned">
            <button
              ng-click="deleteLocation($index)"
              class="circular ui icon button"
              data-title="Add users to your feed"
            >
              <i class="icon delete"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <script>
      let app = angular.module("myApp", []);
      app.controller("myCtrl", $scope => {
        $scope.apiPreset = "http://localhost:5000/api";
        $scope.addLocation = () => {
          $scope.locations.push($scope._newName);
          $scope._newName = "";
        };
        $scope.deleteLocation = _index => {
          $scope.locations.splice(_index, 1);
        };
        $scope.basicFetch = async () => {
          window.event.preventDefault();
          let response = await fetch(
            `${$scope.apiPreset}/basic/${$scope.locations[0]}/${$scope.locations[1]}`
          );
          let json = await response.json();
          console.log(json);
        };
        $scope.arrayFetch = async () => {
          window.event.preventDefault();
          let response = await fetch(
            `${$scope.apiPreset}/locations/${$scope.locations}`
          );
          let json = await response.json();
          console.log(json);
        };
        $scope._newName = "";
        $scope.locations = [];
      });
    </script>
  </body>
</html>
