<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Cookie&display=swap" rel="stylesheet">
    <link rel="icon" href="https://findicons.com/files/icons/684/vistoon/128/globe.png" type="image/x-icon" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Best Way</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,900');
        @import url('https://fonts.googleapis.com/css?family=Raleway');
        table td,
        table th {
            border-bottom: 1px solid #33333375 !important;
        }
        input {
            border-bottom: 1.5px solid #282f4175 !important;
            border-radius: 2px !important;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl"
    style="	background:url('./static/back.png') no-repeat center center fixed;background-size:cover; padding: 20px">
    <h1 style="font-family: 'Nunito Sans', sans-serif; float: left; display: inline; font-size: 4.6vw; color: #0f457f;">
        Best Way
    </h1>
    <button style="float:right" onclick="window.location = '/'" class="circular basic ui icon button">
        <i class="angle double left icon"></i></i>Back
    </button>
    <hr style="clear:both" />
    <table ng-if="!wayView"
        style="table-layout: fixed; border: none; background: transparent !important; width: 70vw; font-size: .8vw"
        class="ui selectable table">
        <thead class="ui selectable table">
            <tr>
                <th style="background: transparent !important;">
                    <div class="ui inverted search">
                        <div class="ui inverted icon input">
                            <input style="border-radius: 5px;" id="newLocIdent" ng-change="isValidLocation()"
                                class="inverted prompt" type="text" placeholder="Search locations..."
                                ng-model="_newName" />
                            <i class="search icon"></i>
                        </div>
                        <button id="addIdent" ng-click="addLocation()" ng-disabled="_validLoc"
                            class="ui primary right labeled icon button">
                            <i class="right arrow icon"></i>
                            Add Location
                        </button>
                        <div ng-click="isValidLocation(); locationPick();" class="results"></div>
                    </div>
                </th>
                <th style="background: transparent !important;"></th>
                <th style="background: transparent !important;" class="right aligned">
                    <button ng-click="arrayFetch()" ng-show="locations.length > 1" class="circular ui icon button">
                        <span>Location Array</span>
                        <i class="icon audible"></i>
                    </button>
                </th>
            </tr>
            <tr ng-show="locations.length">
                <th style="background: transparent !important;">#</th>
                <th style="background: transparent !important;">Location</th>
                <th style="background: transparent !important;" class="right aligned">Delete</th>
            </tr>
        </thead>
        <tbody style="color: #333; background: transparent">
            <tr ng-if="locations.length < 2">
                <td colspan="3">
                    <div class="ui inverted negative message">
                        <div class="header">
                            <i class="icon thumbs down"></i>
                            Add atleast ({{ 2 - locations.length }}) location/s to call API
                        </div>
                        </p>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="loc in locations track by $index">
                <td><i class="map marker icon"></i>{{ $index + 1 }}</td>
                <td><b>{{ loc }}</b></td>
                <td class="right aligned">
                    <button ng-click="deleteLocation($index)" class="circular ui icon button">
                        <i class="icon delete"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="wayView" class="ui list" style="border: 1px solid #333; padding: 15px; background: none;">
        <button ng-click="back()" class="ui secondary button">
            <i class="icon delete"></i>
            Back
        </button>
        <hr />
        <div style="overflow-y: auto !important; max-height: 75vh;" class="ui special cards">
            <div class="card" ng-repeat="res in locResult track by $index">
                <div class="blurring dimmable image">
                    <img
                        src="https://www.clipartkey.com/mpngs/m/41-414481_vacation-icon-traveling-png-tour-and-travel-icon.png">
                </div>
                <div class="content">
                    <a class="header">{{ $index + 1 }} {{ res.name }}, {{ res.sys.country }}</a>
                    <div class="meta">
                        <span class="date">{{ res.weather[0].main }}</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <b>Temp</b>: {{ res.main.temp - 273 | number: 2 }}°C<br />
                        <b>Max Temp</b>: {{ res.main.temp_max - 273 | number: 2 }}°C<br />
                        <b>Min Temp</b>: {{ res.main.temp_min - 273 | number: 2 }}°C<br />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="./static/application.js"></script>
</body>

</html>